<h1>Hi</h1>

<%= data.pName %><br>
<%= data.email %><br>
<%= data.college %><br>

<form method="POST" action="/register-single">

    <div id ="pName">
        <label for="pName">Name :</label>
        <input type="text" name="pName" placeholder="Enter your name...." readonly value='<%= data.pName %>''>
    </div>
    <br>
    <div id ="email">
        <label for="email">Email Address :</label>
        <input type="email" name="email" placeholder="Enter your email address...."  readonly value=<%= data.email %>>
    </div>
    <br>
    <div id ="college">
        <label for="college">College :</label>
        <input type="text" name="college" placeholder="Enter your college name...." readonly value='<%= data.college %>''>
    </div>
    <br>
    <div id="stay">
        <label for="stay">Would u like to stay at DTU : </label>  
        <select name="stay" readonly>
            <option value=<%= data.stay %>><%= data.stay %></option>
        </select>
    </div>
    <div id="event">
        <label for="event">Event : </label>                   
        <select name="event" readonly>
            <option value=<%= data.event %>><%= data.event %></option>
        </select>
    </div>
    
    
    <button type="submit">REGISTER</button>

    <a href="javascript:history.back()">Go Back</a>