<div>

    <h1>You are successfully registered</h1>Your Details are as follows:<br>
    Name: <%= user.pName %><br>
    College: <%= user.college %><br>
    Stay at DTU: <%= user.stay %><br>
    Email: <%= user.email %><br>
    Event: <%= user.events %><br>
    Your Unique Token: <%= user.tokenNumber %><br>
    Keep this Safely for fututre payment use


</div>